- var nothings = law.totalNothings
- var littles = law.totalLittles
- var somewhats = law.totalSomewhats
- var verys = law.totalVerys
- var scored = law.scored
- var census = law.scoreCensus

.law-proposal(data-id=law.id)
  .inner
    .law-title
      a.law-title-link(href='/law/#{law.id}')
        h2.law-title(style='background-color: #{law.color};')=law.mediaTitle
      - var isTwitter = law.authorUrl && !!~law.authorUrl.indexOf('twitter.com')
      - if (isTwitter)
        - var twitter = law.authorUrl.split('twitter.com/')[1]
        - var tweet = 'Hola @' + twitter + '! Quiero decirte algo sobre tu proyecto '
        - tweet = '%23YoVoto ' + encodeURI(tweet)
        - var url = 'http://twitter.com/share?text=' + tweet
      - else
        - var url = law.authorUrl

      - if (law.picture)
        .pic(style="background-image: url(#{law.picture})")
          span
    .law-summary
      p.desc!=law.summary.substr(0,180) + '[...]'
    .author-wrapper
      - if (law.author)
      .author
        p.author-name=law.author
      .authorUrl
        p.author-link
          a(href='#{law.authorUrl}')
            img(src='/lib/custom-view/images/twitter.png')
            | Entre em contato
